<footer class='container-fluid'>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="offset-md-1 col-md-10">
              <h3><img src="./assets/nan.png" width="30" height="30" alt=""> NaN</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi dignissimos 
                facilis harum. Dolore expedita eius veniam cupiditate qui hic, tenetur aspernatur, 
                blanditiis quasi dolores atque soluta. Distinctio provident illum voluptas!
              </p>
          </div>
        </div>
        
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
              <h4>Nous contacter</h4>
            
              <p>Sergice client</p>
              <p>Dormir</p>
            
          </div>
          <div class="col">
            <h4>Nous suivre</h4>
            <p>dadjdwiwjdjwdijwqjdiwq</p>
            <div class="row">
              <div class="col-4"><i class="fab fa-facebook-f"></i></div>
              <div class="col-4"><i class="fab fa-twitter"></i></div>
              <div class="col-4"><i class="fab fa-instagram"></i></div>
            </div>
          </div>
        </div>
        </div>
    </div>
    <hr>
    <p class="text-center">Iso NaN 2019</p>
  </div>
</footer>